.App {
  text-align: center;
}

.App-header {
  background-color: #4095c6;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.App-footer {
  background-color: #4095c6;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 48px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-header h2 {
  margin: 0;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  background-color: #e9e9e9;
}

input[type="submit"] {
  display: inline-block;
  padding: 0.7em 1.1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: silver;
  text-align: center;
  transition: all 0.2s;
}

input[type="submit"]:hover {
  background-color: #4095c6;
}

.search>input[type="text"] {
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

.Home-btn {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: silver;
  text-align: center;
  transition: all 0.2s;
}

.Home-btn:hover {
  background-color: #4095c6;
}

@media all and (max-width:30em) {
  .Home-btn {
    display: block;
    margin: 0.2em center;
  }
}

.form-HomeBtn {
  padding: 20px;
  margin: -40px auto;
  margin-left: 20px;
  position: relative;
  top: -24px;
  left: -10px;
}

button {
  display: inline-block;
  padding: 0.7em 1.1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: silver;
  text-align: center;
  transition: all 0.2s;
}

button {
  background-color: #4095c6;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: white;
  
}